<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/new.css" />
<%- include('../partials/nav') %>


<h1>Working!!</h1>


<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Flights</th>
        <th>flightNo</th>
        <th>Airport</th>
        <th>Airline</th>
        <th>nowBoarding</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(flights => { %>
        <tr>
          <td><%= flights.title %></td>
          <td><%= flights.flightNo %></td>
          <td><%= flights.Airport %></td>
          <td><%= flights.nowBoarding ? 'true' : 'false' %></td> 
        </tr>
        <% }) %>
    </tbody>
  </table>    
</main>

<%- include('../partials/footer') %>




