<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/index.css" />
<%- include('../partials/nav') %>


<h1>Working!!</h1>


<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>flightNo</th>
        <th>Departs</th>
      </tr>
    </thead>
    <tbody>
        <% flights.forEach(flights => { %>
        <tr>
          <td><%= flights.title ? 'Yes' : 'Southwest'  %></td>
          <td><%= flights.flightNo ? '12' : 'DEN'  %></td>
          <td><%= flights.Airport ? 'DEN' : '15'%></td>
          <td><%= flights.Departs ? '2022' : '2023' %></td> 
        </tr>
        <% }) %>
    </tbody>
  </table>    
</main>

<%- include('../partials/footer') %>




<select name="airport"><option value="DEN"></option></select>