<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/movies/show.css" />
<%- include('../partials/nav') %>

<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flights.airline %></div>
    <div>Airport: </div>
    <div><%= flights.airport %></div>
    <div>flightNo: </div>
    <div><%= flights.flightNo %></div>
    <div>Time/Date of Departure: </div>
    <div><%= flights.departs %></div>
  </section>
</main>
<%- include('../partials/footer') %>